.funcionalidad {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 1rem;
}

.funcionalidad > *:first-child {
  max-inline-size: 40ch;
}

.funcionalidad > *:last-child {
  margin-inline-start: auto;
}

.imgFuncionalidad > img {
  border-radius: 24px;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: 0px 56px 88px -8px rgba(88, 92, 95, 0.08);
  backdrop-filter: blur(21px);
}

.detalle {
  background-color: #d2cbcb50;
  border-radius: 32px;
  font-weight: 500;

  inline-size: max-content;
  padding-inline: 1rem;
  padding-block: 1rem;
  font-size: var(--step--1);
}
